<div class="card mt-3 ms-3">
    <img class="card-img-top" style="width:fit-content;" [src]="producto.imagen" alt="Title" />
    <div class="card-body">
        @if (producto.state == true) {
            <span class="badge bg-primary">
                ¡Disponible!
            </span>
        } @else if (producto.state == false) {
            <span class="badge bg-danger">
                No disponible
            </span>
        }
        
        <h4 class="card-title">{{ producto.nombre | uppercase }}</h4>
        <p class="card-text">{{ producto.precio | currency }}</p>
        <button class="btn"><i class="fa-solid fa-heart fa-beat-fade" style="color: #ff0000;"></i></button>
        @if (producto.state == true) {
            <button class="btn btn-success"><i class="fa-solid fa-cart-shopping fa-bounce"></i></button>
        } @else if (producto.state == false) {
            <button class="btn btn-secondary"><i class="fa-solid fa-cart-shopping"></i></button>
        }
        <button (click)="verInfo(producto.id)" class="btn btn-warning"><i class="fa-solid fa-eye"></i></button>
    </div>
</div>